body {
  font-family: "Quicksand", sans-serif;
}

form {
  margin: 0;
  padding: 0;
  display: inline;
}

h1 {
  color: white;
  text-align: left;
  padding: 0 0 0 40px;
}

h3 {
  font-size: 25px;
}

small {
  color: white;
  padding: 20px 0px 20px 20px;
  font-size: 12px;
}

.container {
  display: block;
  margin: 100px auto;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  max-width: 800px;
}

.color-1 {
  background: linear-gradient(
    109.6deg,
    rgb(27, 27, 79) 11.2%,
    rgb(120, 201, 244) 100.2%
  );
}

.color-2 {
  background: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
}

.color-3 {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(208, 89, 109) 0%,
    rgb(231, 156, 118) 90%
  );
}

.text-field {
  padding: 5px 60px;
  border: none;
  border-radius: 4px;
}

.row-2 {
  margin-top: 50px;
  margin-bottom: 70px;
}

.colform {
  padding: 0 0 0 50px;
}

.large-weather {
  color: white;
  font-size: 180px;
  padding: 40px 0 0 50px;
}

.large-temperature {
  color: white;
  padding: 75px 0 30px;
  text-align: left;
}

.info {
  font-size: 12px;
  padding: 10px;
}

.time {
  color: white;
  text-align: left;
  padding: 0 0 0 40px;
}

.row-1 {
  padding: 20px 0 0 0;
}

.row-3 {
  margin: 0 0 20px 0;
}

.row-4 {
  padding: 0 0 20px 20px;
}

.col-forecast {
  text-align: center;
  color: white;
}

.small-weather {
  font-size: 50px;
}

.small-temp-bottom {
  font-size: 15px;
  padding: 10px 0 10px 0;
}

.small-temp-top {
  font-size: 15px;
  padding: 10px 0 0 0;
}

.fahrenheit,
.celsius {
  color: gray;
  text-decoration: none;
}

.fahrenheit:hover,
.celsius:hover {
  color: white;
}

.temperature {
  padding: 10px;
}

.go-button {
  padding: 4px 10px;
  background-color: transparent;
  color: white;
  border: 1.3px solid white;
  border-radius: 4px;
  margin: 5px auto;
}

.location-button {
  margin: 5px auto;
  padding: 4px 10px;
  background-color: transparent;
  color: white;
  border: 1.3px solid white;
  border-radius: 4px;
}

.description {
  padding: 0px 10px;
}

.git-hub-link {
  color: white;
  text-decoration: none;
}

.git-hub-link:hover {
  color: lightgray;
}

.small-weather-3 {
  padding: 0;
}

.active {
  color: white;
  cursor: default;
}
